.fruits {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.each-fruit {
  padding: 20px;
  border: 1px solid orangered;
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.comparison-table th {
  background-color: #f2f2f2;
}

.comparison-table tr:hover {
  background-color: #ddd;
}
.btn {
  padding: 6px 16px;
  cursor: pointer;
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}
.btn:hover {
  background-color: orangered;
  border: none;
  color: white;
}
